body {
  background-color: #ededed;
}

/* TYPOGRAPHY
==============================================*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
div#main-nav-top a {
  font-family: 'Oswald', sans-serif;
  color: #bcbcbc;
}

h1 {
  margin-bottom: 4rem;
}

h2 {
  font-size: 2.2rem;
  padding-left: 0.5rem;
}



/* NAVIGATION
==============================================*/

nav#main-nav {
  position: fixed;
  width: 100%;
}

div#main-nav-top {
  background-color: white;
  font-size: 4rem;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}

img.main-nav-logo {
  height: 5rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0;
}

div#main-nav-top::after {
  content: "";
  display: block;
  clear: both;
}

div#main-nav-top>ul {
  display: block;
}

div#main-nav-top ul,
div.main-nav-dropdown ul {
  padding: 0;
  margin: 0;
}

div#main-nav-top ul li {
  display: inline-block;
}

div#main-nav-top a {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 2rem 6rem;
  color: #E03636;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  height: 7.5rem;
}

div#main-nav-top a span {
  vertical-align: middle;
  padding-bottom: 0.5rem;
}

div.main-nav-dropdown {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-top: none;
  display: none;
}

div.main-nav-dropdown ul:not(:first-child) {
  border-top: 1px solid #d3d3d3;
  margin-top: 1px;
}

div.main-nav-dropdown ul:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

div.main-nav-dropdown ul li {
  list-style: none;
}

div.main-nav-dropdown a {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  color: #E03636;
}

div.main-nav-dropdown li:first-child a {
  border-top: none;
}

div#main-nav-top a:hover,
div.main-nav-dropdown a:hover {
  text-decoration: none;
  background-color: #fafafa;
}

li#search-box {
  color: #d3d3d3;
  height: 40px;
  display: block;
}

li#search-box span {
  color: #d3d3d3;
  font-size: 3rem;
  position: relative;
  top: 0.8rem;
}

div#main-nav-top input,
div#main-nav-top form {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 3rem;
  width: 350px;
}

div#main-nav-top input::placeholder,
div#main-nav-top input::-webkit-input-placeholder,
div#main-nav-top input::-moz-placeholder,
div#main-nav-top input:-ms-input-placeholder { /* IE 10+ */
  color: red;
}


div#main-nav-top input,
div#main-nav-top input:focus,
div#main-nav-top input:active {
  border: none;
  outline: none;
}



/* CONTENT
==============================================*/

div.content-box {
  padding:  3rem 7rem;
  background-color: white;
}

body#bootstrap-overrides div.content-container {
  padding-top: 12rem;
  max-width: 950px;
}

/* BROWSE
==============================================*/

div.browse-item-wrapper {
  margin-bottom: 3rem;

}

div.browse-item {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

/*
div.browse-item:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
  top: -1px;
}
*/

div.browse-item::after {
  content: "";
  display: block;
  clear: both;
}

div.browse-item-main-content {
  display: inline-block;
  padding: 2rem 4rem;
}

div.browse-item-image {
  display: inline-block;
  height: 200px;
  width: 400px;
  background: 50% 50% no-repeat;
  background-size: cover;
  float: right;
}

.browse-item-location {
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  /* ...and now for the proper property */
  transition:.7s;
}

.browse-item-location:hover {
  cursor: help;
  color: #e03636;
}


/* FORMS
==============================================*/
.error-message {
  color: #a94442;
  font-weight: bold;
  line-height: 3rem;
}

/* PLUGINS
==============================================*/
.tooltip_templates { display: none; }